PORT=5005
DB_URL=DB_URL
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5
EMBEDDING_DEVICE=cpu
MAX_TOKENS=512
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=pdf_knowledge_base
TOP_K_CHUNKS=5
SCORE_THRESHOLD=0.4
MAX_HISTORY_MESSAGES=10
GROQ_API_KEY=KEY
GROQ_MODEL=llama-3.1-8b-instant
REDIS_URL=redis://localhost:6379/0
KEY_PREFIX=conversation
HISTORY_TTL=3600